@charset "utf-8";
body{
    background-color: lightgreen;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    background-color: aqua;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    text-align: center;
    color: blue;
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}
p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    
}